/* Regex Colorizer default theme */

.regex       {font-family: Monospace;}
.regex b     {background: rgba(255, 216, 0, 0.3);} /* metasequence */
.regex i     {background: rgba(164, 196, 0, 0.2);} /* char class */
.regex i b   {background: rgba(164, 196, 0, 0.2);} /* char class: metasequence */
.regex i u   {background: rgba(164, 196, 0, 0.2);} /* char class: range-hyphen */
.regex b.g1  {background: rgba(66, 139, 202, 0.2);} /* group: depth 1 */
.regex b.g2  {background: rgba(66, 139, 202, 0.4);} /* group: depth 2 */
.regex b.g3  {background: rgba(66, 139, 202, 0.6);} /* group: depth 3 */
.regex b.g4  {background: rgba(66, 139, 202, 0.8);} /* group: depth 4 */
.regex b.g5  {background: rgb(66, 139, 202);} /* group: depth 5 */
.regex b.err {background: #f40;} /* error */
.regex b, .regex i, .regex u {font-weight: normal; font-style: normal; text-decoration: none;}

body {
    margin: 30px;
    font-family: sans-serif;
}

h1 a {
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #428bca;
}

#input-wrapper {
    border: solid 1px #ccc;
    padding: 10px;
}

#input-inner-wrapper {
    position: relative;
}

#regex-bg, #regex-input {
    width: 100%;
    font-family: monospace;
    padding: 0; margin: 0; border: 0;
    min-height: 80px;
    font-size: 14px;
    line-height: 20px;
}

#regex-bg {
    position: absolute;
    color: transparent;
    white-space: normal;
    word-wrap: break-word;
}

#regex-bg .line-indicator {
    position: absolute;
    margin-left: -10px;
    width: 4px; height: 20px;
    background-color: rgba(66, 139, 202, 0.6);
}

#regex-input {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    outline: none;
}

#error-output {
    margin: 5px 0;
    color: #999;
}

#output-wrapper {
    overflow: hidden;
}

#output-wrapper h3 {
    font-size: 14px;
    color: #333;
}

#output-wrapper label {
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

#output-wrapper label input {
    vertical-align: middle;
}

#output-wrapper pre {
    clear: both;
    margin: 0;
    padding: 10px;
    border: solid 1px #ccc;
    font-family: monospace;
}

#output-wrapper pre b {
    color: #428bca;
    font-weight: normal;
}

#combined-output {
    word-wrap: break-word;
}

#usage-wrapper {
    color: #999;
}

#usage-wrapper p {
    font-size: 12px;
}

#usage-wrapper blockquote {
    font-size: 14px;
    margin-left: 10px;
}